.game {
	position: relative;
	width: 100%;
	height: 500px;
}

.map {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: none;
	overflow: hidden;
}


.inGameBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: none;
    overflow: hidden;
    background-color: #fff;
    background-image: url(../images/nuage.png), url(../images/nuage.png),url(../images/nuage.png),url(../images/nuage.png), url(../images/nuage.png), url(../images/town.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat-x;
    background-position: calc(100% + 90px) 100px, 50% 100px, calc(125% + 180px) 300px,calc(75% + 90px) 300px, 25% 300px, 0px bottom;

    -webkit-animation: clouds 10s linear infinite;
    animation: clouds 10s linear infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes clouds {
    0% {background-position: calc(100% + 90px) 100px, 50% 100px, calc(125% + 180px) 300px, calc(75% + 90px) 300px, 25% 300px, 0px bottom}
    100% {background-position: 50% 100px, calc(0% - 90px) 100px, calc(75% + 90px) 300px, 25% 300px, calc(-25% - 90px) 300px, -300px bottom}
}

/* Standard syntax */
@keyframes clouds {
    0% {background-position: calc(100% + 90px) 100px, 50% 100px, calc(125% + 180px) 300px, calc(75% + 90px) 300px, 25% 300px, 0px bottom}
    100% {background-position: 50% 100px, calc(0% - 90px) 100px, calc(75% + 90px) 300px, 25% 300px, calc(-25% - 90px) 300px, -300px bottom}
}

.pixel {
	position: absolute;
	width: 10px;
	top: 50%;
	background-color: #000;
	/*transition:left 50ms linear,top 50ms linear;*/
}
    .pixel::before{
        content: "";
        position: absolute;
        background:url(../images/SuperPixelFlying.gif);
        top: -5px;
        left: -19px;
        width: 41px;
        height: 12px;
    }
    .pixelSlip{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 3px;
        border-style: solid;
        border-width: 4px 2px 3px 0;
        border-color: red;
    }
    .pixelTag{
        position: absolute;
        bottom: 160%;
        right: 100%;
        font-size: 8px;
    }


.pixel.noHuman {
    opacity: 0.4;
}

.pixel.dead, .pixel.noHuman.dead {
    background-color: #f00;
}

.wall {
	position: absolute;
	right: -500px;
  	background-color: #000;
}

.headline{
	position: absolute;
	font-size: 3em;
	font-weight: bold;
	color: #000;
	top: 40%;
	left: 150%;
	opacity: 0;
    text-align: center;
	-webkit-animation: epilepsia 200ms infinite linear, appear 2s 1 linear; /* Chrome, Safari, Opera */
	animation: epilepsia 200ms infinite linear, appear 2s 1 linear;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes epilepsia {
    0%   {color: red;}
    24%   {color: red;}
    25%  {color: yellow;}
    49%  {color: yellow;}
    50%  {color: blue;}
    74%  {color: blue;}
    75% {color: green;}
    99% {color: green;}
    100% {color: black;}
}
/* Standard syntax */
@keyframes epilepsia {
    0%   {color: red;}
    24%   {color: red;}
    25%  {color: yellow;}
    49%  {color: yellow;}
    50%  {color: blue;}
    74%  {color: blue;}
    75% {color: green;}
    99% {color: green;}
    100% {color: black;}
} 
/* Chrome, Safari, Opera */
@-webkit-keyframes appear {
    0%   {left: 150%;opacity: 0;}
    5%  {opacity: 1;}
    10%  {left: 45%;}
    90% {left: 40%;opacity: 1;}
    95% {opacity: 0;}
    100% {left: -50%;}
}
/* Standard syntax */
@keyframes appear {
    0%   {left: 150%;opacity: 0;}
    2%  {opacity: 1;}
    5%  {left: 45%;}
    95% {left: 40%;opacity: 1;}
    98% {opacity: 0;}
    100% {left: -50%;}
}



.score {
    font-size: 2em;
    text-align: center;
    padding: 10px;
    color: #FFF;
}
.score span{
    color: #888;
}

.replayPopup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.replayPopup .link{
    background-color: #fff;
    font-size: 2em;
    padding: 10px 20px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 240px 20px 0;
}

.displayMessages {
    position: absolute;
    left: 0;
    top: 500px;
    width: auto;
    height: 200px;
    font-size: 0.8em;
}
.msg{
    padding:4px;
}